---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width initial-scale=1.0"/>
		<meta name="generator" content={Astro.generator}/>
		<meta name="keywords" content="hadock, hadock tech"/>
		<meta name="description" content={description}/>

		<meta name="title" content={title}>
		<meta name="author" content="Hadock Tech">
		<meta name="description" content={description}>
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#282828"/>

		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
		<link rel="apple-touch-icon" type="image/svg+xml" href="/favicon.svg"/>

		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800;900&display=swap"/>
	</head>
	<body class="antialiasing text-white font-lexend bg-[#282828] flex flex-col">
		<slot />
	</body>
</html>

<script is-global>
	const item = document.getElementById("hello");

	item.innerHTML = "kcodaH knaD - kcoc evol I".split("").reverse().join("");
</script>