---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width initial-scale=1.0"/>
		<meta name="generator" content={Astro.generator}/>
		<meta name="keywords" content="hadock, hadock tech"/>
		<meta name="description" content={description}/>

		<meta name="title" content={title}>
		<meta name="author" content="Hadock Tech">
		<meta name="description" content={description}>
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#282828"/>

		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
		<link rel="apple-touch-icon" type="image/svg+xml" href="/favicon.svg"/>

		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800;900&display=swap"/>
	</head>
	<body class="antialiasing text-white font-lexend bg-[#282828] flex flex-col">
		<slot />
	</body>
</html>

<script>
const _0x88b2f5=_0x498e;function _0x498e(_0x592a6e,_0x4c82ec){const _0xbf7f65=_0xbf7f();return _0x498e=function(_0x498e5b,_0x1cab65){_0x498e5b=_0x498e5b-0xed;let _0x404a13=_0xbf7f65[_0x498e5b];return _0x404a13;},_0x498e(_0x592a6e,_0x4c82ec);}(function(_0x3f9970,_0x17e9fd){const _0x522c4c=_0x498e,_0x42e98c=_0x3f9970();while(!![]){try{const _0x1bdcdb=parseInt(_0x522c4c(0xfa))/0x1*(-parseInt(_0x522c4c(0xfb))/0x2)+-parseInt(_0x522c4c(0xf1))/0x3+parseInt(_0x522c4c(0xf2))/0x4+-parseInt(_0x522c4c(0xf8))/0x5*(parseInt(_0x522c4c(0xf7))/0x6)+parseInt(_0x522c4c(0xf3))/0x7*(parseInt(_0x522c4c(0xf4))/0x8)+parseInt(_0x522c4c(0xf5))/0x9+parseInt(_0x522c4c(0xed))/0xa;if(_0x1bdcdb===_0x17e9fd)break;else _0x42e98c['push'](_0x42e98c['shift']());}catch(_0x541e17){_0x42e98c['push'](_0x42e98c['shift']());}}}(_0xbf7f,0x8637a));function _0xbf7f(){const _0x279343=['154042EijWPM','56GRPXCp','131022ZZuECN','join','146100pvNOlI','25rVxPaJ','hello','771391kCpOIl','2TwZsmO','9996430TjHeja','split','reverse','innerHTML','1523589Dfztom','3130060wKVHoq'];_0xbf7f=function(){return _0x279343;};return _0xbf7f();}const item=document['getElementById'](_0x88b2f5(0xf9));item[_0x88b2f5(0xf0)]='kcodaH\x20knaD\x20-\x20kcoc\x20evol\x20I'[_0x88b2f5(0xee)]('')[_0x88b2f5(0xef)]()[_0x88b2f5(0xf6)]('');
</script>